{% extends "base.html" %}

{% block body %}
{% if v >= 0 %}
{% for b in black %}
<div class="row">
  <div class="medium-12 columns">
    <div class="panel blackcard">
      {{b.text}}
    </div>
  </div>
</div>
{% endfor %}
{% for w in whites %}
<div class="row">
  <div class="medium-12 columns">
    <a href="?v={{v}}&h={{handID}}&w={{w.id}}">
      <div class="panel whitecard">
      {{w.text}}
      </div>
    </a>
  </div>
</div>
{% endfor %}
{% else %}
<div class="row">
  <div class="large-6 small-centered columns">
    <div class="row collapse postfix-round">
      <div class="small-9 columns">
        <input type="text" id="AIVer" placeholder="AI Version">
      </div>
      <div class="small-3 columns">
        <a href="" onclick="url = '?v=' + document.getElementById('AIVer').value; window.location = url; return false;" class="button postfix">Go</a>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}
