{% extends "base.html" %}

{% block header %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Name', 'Cards Played'],
      {% for l in leaders %}
      ['{{l.playerID}}', {{l.count}}],
      {% endfor %}
    ]);

    var options = {
      title: 'Top players by number of cards played'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>
{% endblock %}
{% block body %}
<div class="row">
  <div class="medium-12 columns">
    <div id="piechart" style="width: 900px; height: 500px;"></div>
  </div>
</div>
{% endblock %}
